version: '3.8'
services:
  web:
    build: .
    ports:
      - "80:80"
    depends_on:
      - db
    environment:
      MONGODB_URL: mongodb://mongo:27017/mydatabase
      CLOUD_API_KEY: example_value

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
